$douyinBackgroundColor: rgba(22, 24, 35, 1);
$douyinBackgroundColor2: rgba(6, 7, 22, 1);
$douyinColor: rgba(255, 255, 255, .5);
$douyinActiveColor: rgba(255, 255, 255, 1);
$douyinBorderColor: rgba(54, 55, 65,.2);
$top: 50px;
$top2: 43px;