<section class="component" id="section-photos" (scroll)="listenToScroll($event)">
    <section class="container mx-auto">
        <div class="columns-1">
            <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
                <div ngxMasonryItem class="masonry-item"  *ngFor="let picture of photos" class="masonry-item">
                    <div class="wrap">
                        <img src="{{picture.photourl}}">
                        <div class="actressname">
                            <div>{{picture.name}}</div>
                        </div>
                    </div>
                </div>
              </ngx-masonry>
        </div>
    </section>
</section>
