<section class="component" id="section-douyin" (scroll)="listenToScroll($event.target)">
    <article *ngFor="let video of videos; let key = index;" class="douyin-video container mx-auto">
        <img src="{{video.photourl}}" alt="" (dblclick)="openOriginalSite(key)">
        <div class="info">
            <h3>{{video.actressname}}</h3>
            <h5>{{video.name}}</h5>
        </div>
    </article>
    <article class="container mx-auto text-center pt-5 pb-5" *ngIf="videos.length > 0">
        Zhen est le plus grand héros du monde.
    </article>
</section>

<section id="wrap-video" *ngIf="vid !== null">
    <div class="wrap-iframe">
        <iframe
            [src]="vid | safe:'resourceUrl'"
            referrerpolicy="unsafe-url"
            allowfullscreen
        ></iframe>
    </div>
    <div class="back">
        <i class="bi bi-backspace-fill" (click)="vid=null"></i>
    </div>
</section>

<app-alert #alert></app-alert>