<section class="m-5 pt-14">
    <h1 class="text-center mb-6">Let' learn Tailwind CSS</h1>
    <section class="mb-5">
        <h2 class="text-green-500">Installation</h2>
        <a href="https://www.youtube.com/watch?v=h-On4H5FeQY" target="_blank" class="underline">How to Install Tailwind CSS in Angular Quickly for Beginners - WORK 100%</a>
    </section>
    <section class="mb-5">
        <h2 class="text-blue-500">How to use it </h2>
        <a href="https://www.youtube.com/watch?v=ft30zcMlFao" target="_blank" class="underline">Learn Tailwind CSS – Course for Beginners</a>
        <div class="mt-2 flex flex-row flex-wrap">
            <section class="section-component">
                <div class="card">
                    <h4>
                        <a href="https://tailwindcss.com/docs/customizing-colors" target="_blank" class="hover:underline text-blue-400">Colors</a>
                    </h4>
                    <ul>
                        <li class="text-green-300">text-green-300; (50, 100, 200, ...900, 950)</li>
                        <li class="text-blue-500">text-blue-500</li>
                        <li class="text-rose-900">text-rose-900</li>
                        <li class="bg-gray-500">bg-gray-500</li>
                        <li>....</li>
                    </ul>
                </div>
            </section>
            <section class="section-component">
                <div class="card">
                    <h4>
                        Sizes
                    </h4>
                    <ul>
                        <li class="text-base">text-base : 1rem</li>
                        <li class="text-[25px]">text-[25px] : 25px</li>
                        <li class="md:text-[15px] lg:text-[20px]">md:text-[15px] lg:text-[20px]</li>
                        <li>....</li>
                    </ul>
                </div>
            </section>
            <section class="section-component">
                <div class="card">
                    <h4>
                        <a href="https://tailwindcss.com/docs/border-width" target="_blank" class="hover:underline text-blue-400">Border</a>
                    </h4>
                    <ul>
                        <li class="border-2">border-2 : 2px; (2, 4, 8)</li>
                        <li class="border-4 border-red-700">border-red-700</li>
                        <li class="border-2 border-orange-400 border-dotted">border-dotted</li>
                        <li>....</li>
                    </ul>
                </div>
            </section>
            <section class="mb-4 w-full md:basis-1/2 lg:basis-1/4 p-3">
                <div class="card">
                    <h4>
                        <a href="https://tailwindcss.com/docs/responsive-design#overview" target="_blank" class="hover:underline text-blue-400">Responsive</a> 
                    </h4>
                    <ul>
                        <li>sm(min-width: 640px), md(min-width: 768px), lg(min-width: 1024px), xl, 2xl</li>
                        <li>w-full md:basis-1/2 lg:basis-1/4</li>
                        <li>justify-center(start, end, between...), items-center</li>
                        <li>
                            <div>
                                <a href="https://tailwindcss.com/docs/container" target="_blank" class="underline">container mx-auto</a>
                            </div>
                            <ul class="ps-5">
                                <li> 
                                    <div>md:columns-1 lg:columns-3</div>
                                    <div class="md:columns-1 lg:columns-3">
                                        <div>1</div>
                                        <div>2</div>
                                        <div>3</div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>....</li>
                    </ul>
                </div>
            </section>
            <section class="mb-4 w-full md:basis-1/2 lg:basis-1/4 p-3">
                <div class="card">
                    <h4>Custome</h4>
                    <ul>
                        <li>
                        
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
</section>
