@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "_variables";

@layer base {
    h2 {
        font-size:26px;
        font-weight: bold;
    }
    h3 {
        font-size:22px;
        font-weight: bold;
    }
    h4 {
        font-size:18px;
        font-weight: bold;
    }
    .douyin-color{
        color: $douyinColor;
    }
    .douyin-active-color {
        color: $douyinActiveColor;
    }
    .douyin-border-color {
        border: 1px solid $douyinBorderColor;
    }
    .douyin-background-color {
        background-color: $douyinBackgroundColor;
    }
    .douyin-background-color2 {
        background-color: $douyinBackgroundColor2;
    }
    .douyin-padding-top {
        padding-top:50px;
    }
    .w-inherit {
        width:inherit;
    }
    .text-center{
        text-align: center;
    }
}

@layer components {
    .card{
        border-radius:theme('borderRadius.xl');
        border: 1px solid gainsboro;
        transition: .3s;
        @apply px-7 py-2;
        &:hover{
            box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
        }
    }
}

:root {
    --top-nav-height:$top;
}

body{
    overflow-x: hidden;
}

iframe{
    width:100%;
    height:100%;
    background-color: transparent;
    
}
img{
    display:inline;
}
.douyin{
    background-color: $douyinBackgroundColor;
    color:$douyinActiveColor;
}

.pointer{
    cursor: pointer;
}

.loader{
    position: fixed;
    z-index: 8888;
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, .1);
    top:0;
    left:0;
}

.panel{
    border-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .1);
    max-height:100%;
    overflow-y: auto;
    .wrap-close{
        text-align: right;
        margin-bottom:10px;
        .icon-close{
            cursor: pointer;
            &:hover{
                color:red;
            }
        }
    }
}

.wrap-loading{
    @extend .loader;

    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    img{
        height:calc(100% - 40px);
        width:auto;
    }
}

.scrollbar{
    overflow:overlay !important;
}
.scrollbar::-webkit-scrollbar{
    width:8px;
    height:10px;
    
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius:10px;
}

section.component{
    width:100%;
    min-height:100%;
    padding-top:50px;
}

section#searched-videos{
    position: fixed;
    z-index: 2000;
    background-color: white;
    color:black;
    width:100%;
    height: 100vh;
    top:0;
    left:0;
    padding:3px 10px;
    overflow-y: auto;
}

.path{
    cursor: pointer;
}
.path.active{
    color:$douyinActiveColor;
}

app-videos{
    width:100%;
}

#section-videos{
    iframe,
    video{
        width: 100%;
        height: calc(100vh - 50px);
    }
    .wrap-video{
        display: flex;
        justify-content: center
    }
    .wrap-video-ticktok {
        iframe{
            width:324px !important;
            height:750px !important;
            border-radius: 8px;
        }
    }
}


.foundVideo{
    iframe,
    video{
        height:80vh !important;
        width:100% !important;
    }
}


/**acuw-carousel */
.carousel{
    position: relative;
    .threejs-container
    {
        >div{
            >div{
                display: flex !important;
            }
        }
    }
}

@media (max-width:767px) {
    section.component{
        padding-top:0;
    }

    #section-videos{
        iframe,
        video{
            height:100vh;
            width:100%;
        }
    }

    .wrap-loading{
        @extend .loader;
    
        display:flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        z-index: 9999;
        background-color: rgba(0, 0, 0, .5);
        overflow: hidden;
        img{
            width:100%;
            height:auto;
        }
    }
}






@media (max-width:576px) {
    .container{
        width:100% !important;
    }
}

@media (min-width:576px) {
    .container{
        width:540px !important;
    }
}

@media (min-width:768px) {
    .container{
        width:720px !important;
    }
}

@media (min-width:992px) {
    .container{
        width:900px !important;
    }
}

@media (min-width:1200px) {
    .container{
        width:1140px !important;
    }
}

@media (min-width:1400px) {
    .container{
        width:1320px !important;
    }
}


