:host { 
    width:100%;
    min-height: 100vh;
}

@mixin flex($position1:center, $position2:center) {
    display: flex;
    justify-content: $position1;
    align-items: $position2;
}

#ztab {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    img {
        width:100%;
    }
    #wrap-search {
        position: fixed;
        z-index: 1000;
        color:black;
        background-color: transparent;
        width:500px;
        max-width: 80%;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        #wrap-input-search {
            height:50px;
            background-color: rgba(255, 255, 255, .4);
            border-radius: 10px;
            padding: 15px;
            display:flex;
            align-items: center;
            &:has(input:focus) {
                background-color: rgba(255, 255, 255, .8);
            }
            margin-bottom: 20px;
            .wrap-log {
                width: 30px;
                cursor: pointer;
            }
            input {
                caret-color: black;
                outline: none;
                width: calc(100% - 30px);
                height:100%;
                padding-left:20px;
                background-color: transparent;
                &:focus {
                    outline: none;
                }
            }
        }
        #wrap-search-websites {
            width:100%;
            display:flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            background-color: rgba(255, 255, 255, .8);
            padding: 20px;
            border-radius: 10px;
            max-height: 300px;
            overflow-y: auto;
            .website {
                cursor: pointer;
                position:relative;
                margin-right: 20px;
                margin-bottom: 20px;
                .wrap-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:50px;
                    height:50px;
                    border-radius: 5px;
                    background-color: white;
                    img {
                        width: 40px;
                    }
                }
                .bi-plus {
                    font-size:40px;
                }
                .wrap-delete {
                    position:absolute;
                    z-index: 100;
                    color: rgb(251, 88, 88);
                    font-weight: bold;
                    font-size: 25px;
                    &:hover{
                        color:red;
                        background-color: white;
                    }
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, .5);
                    box-shadow: 0 4px 16px 0 #00000026;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -10px;
                    left: -10px;
                }
            }
            .wrap-action {
                display: none !important;
            }
            .website:hover .wrap-log {
                box-shadow:0 4px 8px -4px #00000026;
            }
            .website:hover .wrap-action{
                display: flex !important;
            }
        }
    }
    #section1, #section2 {
        position: inherit;
        height: 100%;
        .btn-section {
            position:absolute;
            z-index: 20;
            font-size: 30px;
            top: 10px;
            right: 30px;
            color: rgba(255, 255, 255, .5);
            background: transparent;
            &:hover {
                cursor: pointer;
                color:white;
            }
        }
    }
    #section-forms {
        position:fixed;
        z-index: 2000;
        width: 300px;
        height: 100vh;
        overflow-y: auto;
        left:0;
        top:0;
        background-color: white;
        box-shadow: 0px 2px 12px 0px #00000026!important;
        left: -300px;
        padding: 20px 15px;
        color: black;
        .wrap-title {
            @include flex(space-between);
            > div:first-child {
                @include flex(flex-start);
            }
            margin-bottom: 20px;
        }
        form {
            
        }
    }
    #section-forms.displayed {
        animation: show_form .3s linear;
        animation-fill-mode:forwards;
    }
    #section-forms.cached {
        animation: hide_form .3s linear;
        animation-fill-mode:forwards;
    }



    @keyframes show_form {
        0% { left:-300px; }
        50% { left:-100px; }
        100% {  left:0px  }
    }
    @keyframes hide_form {
        0% { left: 0; }
        50% { left:-100px; }
        100% {  left:-300px  }
    }
}


